# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [49]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [39]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [50]:
# Drop Baltimore
clean_baltimore = baltimore.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)
clean_baltimore.shape

(153, 19)

In [41]:
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [51]:
# Drop Boston
clean_boston = boston.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)
clean_boston.shape

(352, 19)

In [43]:
for col in newyork.columns:
    pct_missing = np.mean(newyork[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [52]:
# Drop New York
clean_newyork = newyork.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)
clean_newyork.shape

(112, 19)

In [45]:
for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [53]:
# Drop philadelphia
clean_philadelphia = philadelphia.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)
clean_philadelphia.shape

(57, 19)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [54]:
# Combine the four dataframes into one!
northeast_region = pd.concat([clean_baltimore, clean_boston, clean_newyork, clean_philadelphia], axis=0)
northeast_region

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,N,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,SHELLACKED,NaN,N,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,N,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,N,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets?

In [58]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
low_mean = northeast_region.groupby(["Unit of Sale"]).agg({'Low Price': 'mean'})
high_mean = northeast_region.groupby(["Unit of Sale"]).agg({'High Price': 'mean'})
low_mean, high_mean

(               Low Price
 Unit of Sale
 EACH           47.916667
 PER BIN       185.845070
 SHELLACKED     16.000000,
               High Price
 Unit of Sale
 EACH           59.166667
 PER BIN       206.619718
 SHELLACKED     17.545455)

In [64]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
mean_count_variety = northeast_region.groupby(["City Name"])["Variety"].value_counts()
mean_count_variety

City Name     Variety
BALTIMORE     MINIATURE                    30
              PIE TYPE                     26
              CINDERELLA                   25
              HOWDEN TYPE                  25
              BIG MACK TYPE                24
              FAIRYTALE                    16
              MIXED HEIRLOOM VARIETIES      3
              HOWDEN WHITE TYPE             2
BOSTON        HOWDEN TYPE                 132
              PIE TYPE                    114
              BIG MACK TYPE                29
              MINIATURE                    28
              FAIRYTALE                    21
              CINDERELLA                   14
              BLUE TYPE                     7
              KNUCKLE HEAD                  7
NEW YORK      PIE TYPE                     42
              HOWDEN TYPE                  39
              MINIATURE                    27
              BIG MACK TYPE                 2
              KNUCKLE HEAD                  1
              MIXED HEIRLOOM VARIETIES      1
PHILADELPHIA  HOWDEN TYPE                  28
              PIE TYPE                     16
              MINIATURE                    12
              KNUCKLE HEAD                  1
Name: count, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!